/* style.css */
/* 
    font : merriweather , Quicksand 
    페이지 폭: 1200px , 메인 비주얼=1920px
    */

/* 초기화 */
* {
    margin: 0; padding: 0; box-sizing: border-box;
}
a {text-decoration: none;}
li {list-style-type: none;}
body {
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background: #fdfdfd;
    margin: 0; padding: 0;
    /* outline: 2px solid red; */
}
p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
}

/* main visual */
#main_visual {
    position: relative;
    width: 100%; height: 100vh;
    background: #abc;
    background-image: url(../img/bg.0.jpg);
    background-position: center;
    background-size: cover;
    z-index: 30;
}
#main_visual > .bg0_title {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    top: 50%; transform: translateY(-50%);
    text-align: center;
    /* left: 50%; top: 50%;
    transform: translateX(-50%); transform: translateY(-50%); */
    /* outline: 2px solid red; */
}
#main_visual > .bg0_title > h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 48px;
    color: #fff;
    padding: 10px 0;
}

/* main header */
#main_header {
    position: fixed;
    width: 1200px; height: 35px;
    left: 100px;
    top: 30px;
}

/* logo */
#main_header .logo_txt {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: 400;
}
#main_header .logo_txt > a {
    color: #fff;
}

/* header menu */
#main_header .menu > .depth1 {
    position: absolute;
    right: 0;
}
#main_header .menu > .depth1 > li {
    display: inline;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-right: 20px;
    line-height: 35px;
}
#main_header .menu > .depth1 > li > a {
    color: #fff;
    cursor: pointer;
}

/* about me */
#about_me {
    position: relative;
    font-family: 'Merriweather Sans', sans-serif; 
    width: 1200px; height: 1000px;
    margin: 0 auto;
}

/* about me txt */
#about_me > .about_me_txt {
    position: absolute;
    /* outline: 2px solid red; */
    margin-top: 200px;
    float: left;
}
#about_me > .about_me_txt > h1 {
    font-size: 36px;
}
#about_me > .about_me_txt > p {
    padding: 10px 0;
}
.about_me_img {
    position: absolute;
    width: 587px; height: 669px;
}
.about_me_img > .about_me_photo {
    position: absolute;
    width: 524px; height: 640px;
    background: #ccc;
    background-image: url(../img/about_me.jpg);
    background-size: cover;
    background-position: center;
    /* outline: 2px solid red; */
    top: 150px;
    left: 600px;
    z-index: 99;
}
.about_me_img .about_me_back_box {
    position: absolute;
    width: 125px; height: 553px;
    left: 1035px;
    top: 300px;
    background: #E6AB46;
    /* outline: 2px solid green; */
    margin: 0;
}

/* ability */
#ability {
    position: relative;
    width: 1200px; height: 322px;
    margin: 0 auto;
}
.ability_ctn > h1 {
    position: absolute;
    left: 50%; transform: translateX(-50%);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
}
.ability_ctn .photoshop {
    position: absolute;
    float: left;
    width: 500px;
    height: 65px;
    top: 97px; left: 30px;
}
.ability_ctn .photoshop .gauge_1 {
    width: 500px; height: 20px;
    background: #ccc;
    margin-top: 15px;
}
.gauge_1 > .ani_1 {
    /* position: relative; */
    width: 400px; height: 20px;
    /* top: 45%;
    top: -webkit-calc(50% - 10px);
    top: calc(50% - 10px);
    left: 0; */
    /* left: -webkit-calc(50% - 75px);
    left: calc(50% - 75px); */
    /* background: #e6ab46; */
}

/* animation 1 */
.gauge_1 > .ani_1 {
    position: absolute;
    background: #e6ab46;
    height: 20px; width: 0;
    z-index: 0;
    opacity: 1;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.gauge_1 > .ani_1.play {
    -webkit-animation: ani_1 1s ease-in-out;
    animation: ani_1 1s ease-in-out;
    animation-fill-mode: forwards;
}
/* @-webkit-keyframes ani_1 {
    0%{width: 0;}
    70%{width: 75%; opacity: 1;}
    90%{opacity: 1; width: 75%;}
    100%{opacity: 1; width: 75%;}
} */
@keyframes ani_1 {
    0%{width: 0;}
    70%{width: 75%; opacity: 1;}
    90%{opacity: 1; width: 75%;}
    100%{opacity: 1;width: 75%;}
}
.ability_ctn .html_css {
    position: absolute;
    float: left;
    width: 500px;
    height: 65px;
    top: 97px; left: 670px;
}
.ability_ctn .html_css .gauge_2 {
    width: 500px; height: 20px;
    background: #ccc;
    margin-top: 15px;
}
.gauge_2 > .ani_2 {
    width: 320px; height: 20px;
}

/* animation 2 */
.gauge_2 > .ani_2 {
    position: absolute;
    background: #e6ab46;
    height: 20px; width: 0;
    z-index: 0;
    opacity: 1;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.gauge_2 > .ani_2.play {
    -webkit-animation: ani_2 1s ease-in-out;
    animation: ani_2 1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes ani_2 {
    0%{width: 0;}
    70%{width: 60%; opacity: 1;}
    90%{opacity: 1; width: 60%;}
    100%{opacity: 1;width: 60%;}
}
.ability_ctn .illust {
    position: absolute;
    float: left;
    width: 500px;
    height: 65px;
    top: 197px; left: 30px;
}
.ability_ctn .illust .gauge_3 {
    width: 500px; height: 20px;
    background: #ccc;
    margin-top: 15px;
}
.gauge_3 > .ani_3 {
    width: 370px; height: 20px;
}
/* animation 3 */
.gauge_3 > .ani_3 {
    position: absolute;
    background: #e6ab46;
    height: 20px; width: 0;
    z-index: 0;
    opacity: 1;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.gauge_3 > .ani_3.play {
    -webkit-animation: ani_3 1s ease-in-out;
    animation: ani_3 1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes ani_3 {
    0%{width: 0;}
    70%{width: 70%; opacity: 1;}
    90%{opacity: 1; width: 70%;}
    100%{opacity: 1;width: 70%;}
}
.ability_ctn .java {
    position: absolute;
    float: left;
    width: 500px;
    height: 65px;
    top: 197px; left: 670px;
}
.ability_ctn .java .gauge_4 {
    width: 500px; height: 20px;
    background: #ccc;
    margin-top: 15px;
}
.gauge_4 > .ani_4 {
    width: 220px; height: 20px;
}
/* animation 4 */
.gauge_4 > .ani_4 {
    position: absolute;
    background: #e6ab46;
    height: 20px; width: 0;
    z-index: 0;
    opacity: 1;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.gauge_4 > .ani_4.play {
    -webkit-animation: ani_4 1s ease-in-out;
    animation: ani_4 1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes ani_4 {
    0%{width: 0;}
    70%{width: 40%; opacity: 1;}
    90%{opacity: 1; width: 40%;}
    100%{opacity: 1;width: 40%;}
}
/* works */
#works {
    position: relative;
    width: 1200px; height: 768px;
    margin: 0 auto;
    top: 250px;
}
.works_title h1 {
    /* position: absolute; */
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    /* outline: 2px solid red; */
}
.works_title > .l_line {
    position: absolute;
    width: 400px; height: 2px;
    top: 25px; left: 50px;
    background: #000;
}
.works_title > .r_line {
    position: absolute;
    width: 400px; height: 2px;
    top: 25px; left: 750px;
    background: #000;
}
.works_ctn .works_menu {
    position: absolute;
    left: 50%; transform: translateX(-50%);
    text-align: center;
    top: 60px;
}
.works_ctn .works_menu li {
    display: inline;
    font-family: 'Merriweather Sans', sans-serif;
}
.works_ctn .works_menu li:not(:last-child) {
    margin-right: 10px;
}
.works_ctn .works_menu li > a {
    color: #000;
}

/* works contents */
.works_cts > ul > li {
    position: relative;
    float: left;
    width: 384px; height: 300px;
    background: #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    top: 100px;
    /* outline: 2px solid red; */
}
.works_cts > ul > li:nth-child(3) {
    margin-right: 0;
}
.works_cts > ul > li:nth-child(6) {
    margin-right: 0;
}

/* contact */
#contact {
    position: relative;
    top: 350px;
    width: 100%; height: 300px;
    margin: 0 auto;
    background: #000;
    color: #fff;
}
#contact > .contact_ctn {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    /* left: 50%; transform: translateX(-50%); */
}
.contact_ctn > .l_contact_cts {
    position: absolute;
    top: 100px; left: 0;
}
.l_contact_cts > h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding: 10px 0;
}
.contact_ctn > .r_contact_cts  {
    position: absolute;
    top: 120px; right: 0;
}
.r_contact_cts > p {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
}
